body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    margin: 0 auto;
    background-color: #eeeeee;
    padding: 20px;
}

.contact-us h1 {
    box-sizing: border-box;
    font-size: 70px;
    margin-top: 52px;
    margin-left: 200px; 
    font-weight: lighter;
}

.contact-us p {
    float: left;;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 40px;
    color: #a39999;
}

.container {
    display: flex;
    justify-content: flex-end;
    width: 720px;
    height: 250px;
    margin-top: 30px;
    margin-left: 430px;
    border-radius: 4px;
    background-color: #eeeeee;
    border-style: solid;
    border-color: #a39999;
    border-width: 1px;
}

.input-slots form {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 10px;
    margin-right: 10px;
}

.input-slots label {
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.input-slots input {
    padding: 7px 160px 7px 7px;
    margin: 5px;
    font-weight: lighter;
    border-radius: 4px;
    border-style: solid;
    border-color: #a39999;
    border-width: 1px;
}

.comments {
    padding-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.comments textarea {
    width: 310px;
    height: 140px;
    padding: 10px;
    margin-top: 10px;
    font-weight: lighter;
    font-family: inherit;
    color: #a39999;
    border-radius: 4px;
    border-style: solid;
    border-color: #a39999;
    border-width: 1px;  
}

.press {
    float: right;
    font-size: 14px;
    color: white;
    padding: 8px 10px;
    margin-top: 7px;
    border-radius: 4px;
    background-color: #428bca;
    border-style: solid;
}

.social-media {
    margin-left: 640px;
    margin-right: 600px;
}

.social-media h3 {
    border-bottom: 1px solid #a39999;
    line-height: 1.6;
    padding-left: 50px;
}

.social-media a {
    text-decoration: none;
    margin-right: 45px;
}

p {
    display: inline; 
}